@import '~antd/dist/antd.css';

.Form__customLayout{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70rem;
}

.Form__footer{
    display: flex;
    margin-top: 2rem;
    justify-content: flex-end;
    width: 70rem;
}

.Form__footer--button{
    margin-left: 1rem;
}